.header,.web-footer{display: none;}
.kbBox,.advertising,.success_footerBtn,.banner{display: none;}
.banner{width: 100%;height: auto;}
a{color: #666666;}
*{padding: 0;margin: 0;}
.header{width:100%;border-bottom: 1px solid #DDDDDD;overflow: hidden;margin-bottom: 10px;}
.header .box {width: 1000px;height: 100px;margin: 0 auto;overflow: hidden;}
.logo{float: left;width: 114px;height: 40px;vertical-align: top;position: relative;top: 30px;}
a{text-decoration: none;}
.xzfp{float: right;width: 100px;height: 40px;background: #0079CC;border: none;border-radius: 6px;color: #ffffff;font-size: 16px;margin-top: 30px;text-align: center;line-height: 40px;}
body{font-size: 14px;font-family: KaiTi, STKaiti;color: #666666;background: white;}
/*html{background: #F8F8F9;}*/
.qrCode{width: 75px;height: 75px;margin-left: 30px;margin-bottom: 10px;}
.w900{width: 100%;margin: 0 auto;}
.overflow-hidden{overflow: hidden;}
.left{float: left;}
.right{float: right;}
.color-red{color: #a15f3b;font-size: 12px;}
.title{text-align: center;position: absolute;top: 36px;left: 0;right: 0;}
.region{color: #a15f3b;font-size: 26px;height: 45px;font-family: KaiTi, STKaiti;margin: 0 auto;letter-spacing: 2px;text-align: center;width: 338px;}
.region.chengpinyou{
    position:relative;
}
.region.chengpinyou:before{
    position: absolute;
    content: 'æˆå“æ²¹';
    left: -70px;
    top: 30px;
    font-size: 14px;
    color: #000;
}

.region.tongxingfei{
    position:relative;
}
.region.tongxingfei:before{
    position: absolute;
    content: 'é€šè¡Œè´¹';
    left: -70px;
    top: 30px;
    font-size: 14px;
    color: #000;
}

.region.sell{
    position:relative;
}
.region.sell:before{
    position: absolute;
    content: 'é”€å”®';
    left: -70px;
    top: 30px;
    font-size: 14px;
    color: #000;
}

.region.buy{
    position:relative;
}
.region.buy:before{
    position: absolute;
    content: 'æ”¶è´­';
    left: -70px;
    top: 30px;
    font-size: 14px;
    color: #000;
}
.executiveStamp{width: 120px;height: 75px;position: relative;top: -60px;opacity: 0.3;}
.hr{box-sizing: content-box;height: 1px;border: 2px solid #a15f3b;margin: 12px 0 0 0;border-left: 0;border-right: 0;}
.invoicenumber .color-red{letter-spacing: 2px;}
.invoicenumber .jym{letter-spacing: 9px;}
.invoicenumber .mh{position: relative;left: -6px;letter-spacing: 4px;}
.invoicenumber div{line-height: 26px;}
.buyer,.pw{width: 30px;text-align: center;line-height: 20px;letter-spacing: 4px;}
.pwq{padding: 0 10px;width: 365px;line-height: 26px;letter-spacing: 2px;text-align: center;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;word-wrap: break-word;word-break: break-all;}
.information tr{height: 28px;}
.information tr .color-red{width: 92px;}
.w420{width: 454px;overflow: hidden;}
.w420 p{width: 300px;overflow: hidden;}
.w270{width: 270px;}
.w150{width: 149px;}
.w60{width: 60px;}
.w120{width: 120px;}
.w238{width: 238px;}
.w240{width: 240px;}
.w90{width: 90px;}
.w400{width: 400px;}
.w258{width: 360px;}
.color-666{color: #666666;}
table,table tr,table tr td{border-color: #cfaa94;}
.detail tr{height: 230px;vertical-align: top;}
.detail1{margin-top: 8px;}
.detail1 tr{vertical-align: top;}
.detail1 tr,.detail1 tr td{height:26px;word-break: break-all;}
.detail1 tr td{padding: 2px 2px 0 2px;box-sizing: border-box;}
.detail,.detail tr,.detail tr td{border-top: 0;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}
.hj,.hj tr td{border-top: 0;border-top-color: #FFFFFF;}
.seller,.seller tr td{border-top: none;}
ul{list-style: none;padding-left: 20px;}
.skxx li{float: left;width: 25%;height: 174px;}
.skxx{height: 174px;}
.detailbox{position: absolute;top: 20px;height: 180px;overflow-y: auto;overflow-x: hidden;width: 100%;}
.web-footer {width: 100%;margin: 0 auto;height: 100px;background: #F8F8F9;position: fixed;bottom: 0;left: 0;}
.web-footer ul {text-align: center;padding-top: 24px;}
.web-footer ul li a {color: #495060;font-size: 16px;}
.web-footer ul li {display: inline-block;padding: 0 12px;border-right: 1px solid #D8D8D8;font-size: 16px;}
.bq {text-align: center;padding-top: 20px;font-size: 16px;}
.signature{width: 150px;height: auto;position: absolute;top: -50px;right: 30px;}
.dx{width: 14px;height: auto;position: relative;top: 4px;left: 1px;margin-right: 2px;}
.kbBox{background: #FFFFFF;padding: 10px 0;}
.addKb{text-align: center;line-height:100px;border-top: 1px solid #E9EAEC;margin: 0 0.3rem;color: #0079cc;font-size: 40px;margin-bottom: 10px;}
.addKb2{text-align: center;line-height:100px;margin: 0 0.3rem;color: #0079cc;font-size: 40px;}
.browserWechat{color: rgb(31, 202, 116);width: 49%;border-right: 1px solid #E9EAEC;}
.browserAlipay{    width: 49%;float: right;position: relative;top: -100px;}
.advertising{padding-top:10px;padding-bottom: 130px;background: #F9F9F9;}
.advertising img{width: 90%;height:auto;max-height: 230px;margin: 20px auto;background: white;display: block;border-radius:10px;}
.success_footerBtn{position: fixed;left: 0;bottom: 0;width: 100%;}
.success_footerBtn button{width: 50%;height: 130px;font-size: 40px;box-sizing: border-box;border: none;}
.leftBtn{float: left;color: #0079CC;background-color: #FFFFFF;}
.rightBtn{float: right;color: #FFFFFF;background-color: #0079CC;}
.cipher{font-size: 16px}
.detail .hj{width: 256px;}
.detail1 .name{width: 268px;}
.w400{width: 401px;}
.shade,.shade-screen,.result-shade{font-size: 40px}
.result-shade .shade-text{margin-top: 0;padding: 50px 0;color: #FFFFFF;}
.result-shade .shade-main{width: 50%;top: 40%;max-width:400px;border-radius: 6px;}
.ispc .result-shade .shade-text{margin-top: 0;padding: 20px 0;color: #FFFFFF;}
.ispc .shade,.ispc .shade-screen,.ispc .result-shade{font-size: 20px}

.wrap-all{
    word-wrap: break-word;
    word-break: break-all;
}

#remarks{
    vertical-align: top;
    text-align: left;
}

.details ul>li,.invoice-details ul>li{line-height: 0.88rem;box-sizing: border-box;border-bottom: 1px solid #E9EAEC;font-size: 0.3rem;color: #1C2438;overflow: hidden;}
/*.details .detail-item,.invoice-details .detail-item{width: 1.7rem;}*/
/*.details .detail-item,.invoice-details .detail-item{width: 1.7rem; display: inline-block;}*/
.details .detail-item,.invoice-details .detail-item{width: 1.7rem; float: left;}
.mr0{ margin-right: 0;}
.right{
    float: right;}
.details .fl1{font-size: 0.28rem;color:#495060;}
.radio,.active{font-size:0.28rem;color: #BBBBBB;}
.active{color: #0079CC;}
.delete-btn{width: 0.3rem;height: 0.88rem;position: absolute;
    top:0;
    right:0;font-size: 0.28rem;padding:0 0.07rem 0 0.14rem;}
.delete-btn i{font-size: 0.28rem;color: #BBBBBB;display: none;}
.card-btn{width: 0.4rem;height: 0.88rem;position: relative;margin-left: 0.4rem;}
.card-btn i{font-size: 0.4rem;}
.radio +div{margin: 0 0.2rem;color: #535a69;}
/*.radio:first-child +div{margin-right: 0.3rem;}*/
.btn1{float: right;color: #0079CC;font-weight: 400;font-size: 0.28rem;}
.company-name .fl1{line-height: 0.5rem;margin: 0.19rem 0;}
.require i{font-size: 0.12rem;color: #ff8f00;}
.invoice-details li{position: relative;margin: 0 0.3rem;}
.invoice-details1{display: none;}
.invoice-details1 ul>li>div,.invoice-details1 ul>li>label{padding-top: 0.2rem;}
.invoice-details1 li{position: relative;}
.invoice-details1 .detail-item{line-height: 0.38rem;width: 1.7rem;color: #1C2438}
.invoice-details1 .require{padding-top: 0;line-height: 0.78rem;}
.invoice-details1 ul>li.nopad {line-height: 0.88rem;}
.invoice-details1 ul>li.nopad>div,.invoice-details1 ul>li.nopad>label{padding-bottom: 0;padding-top: 0;}
.invoice-details1 .delete-btn{height: 1.06rem;}
.invoice-details1 .delete-btn i{line-height: 1.06rem;}
.details ul>li>div.require{width: 0.3rem;height: 0.88rem;text-align: center;border-bottom: none;}
.details ul .bor-bom-none{border-bottom: none;}
.details ul>li.bor-bom-none >label,.details ul>li.bor-bom-none >div{border-bottom: none;}
.nopad .require{line-height: 0.88rem;}
.nopad .detail-item{line-height: 0.88rem;color: #1C2438}
.nopad .delete-btn{height: 0.88rem;padding-bottom: 0;}
.nopad .delete-btn i{line-height: 0.88rem;}
ul textarea{height: 0.96rem;width: 100%;color: #535a69;line-height: 0.48rem;position: relative;top: -0.06rem;border-color: #ffffff;border-image: none;}
.tips{font-size: 0.28rem;line-height: 0.42rem;margin: 0.34rem 0;color: #a1aab6;}
.tips span{color: #ff8f00;}
.more-items{line-height: 0.88rem;text-align: center;color: #0079CC;font-size: 0.3rem;}
.more-items i{font-size: 0.3rem;}
.invoice-titles{width: 100%;height: auto;background: red;position: absolute;left: 0;top: 0.88rem;z-index: 999;display: none;}
.details .invoice-titles >li{padding: 0.13rem 0.3rem;border-bottom: 1px solid #E9EAEC;}
.invoice-titles .companyname{line-height: 0.42rem;font-size: 0.28rem;color: #1F2000;}
.invoice-titles .highlight{color: #0079CC;}
.highlight{color: #0079CC;}
.invoice-titles .taxNumber{line-height: 0.31rem;font-size: 0.24rem;color: #9EA7B4;}
.details .invoice-titles >li:last-child{border-bottom: none;}


/*å¼¹æ¡†=======================================*/
.shade,.shade-screen,.result-shade{width: 100%;height: 100%;position: fixed;bottom: 0;left: 0;background: rgba(49,49,49,0.5);font-size:0.3rem}
.shade-main{width: 5.4rem;height: 3.24rem;background: white;margin: auto;position: absolute;left: 0;top: 30%;right: 0;border-radius: 6px;overflow: hidden;}
.warning{width: 100%;height: 2.42rem;text-align: center;}
.shade-btn{width: 100%;height: 0.82rem;position: absolute;bottom: 0;background: white;}
.shade-btn >button{width: 50%;height: 0.82rem;text-align: center;font-size: 0.3rem;background: white;box-sizing: border-box;}
.btn-cancel{float: left;color: #ff7473;border-bottom-left-radius: 6px;border: none;border-right: 1px solid #ededed;border-top: 1px solid #ededed;}
.btn-yes{float: right;color: #03a9f4;border-bottom-right-radius: 6px;border: none;border-top: 1px solid #ededed;}
.shade-text{display: inline-block;width: 100%;margin-top: 1.1rem;color: #2a3f54;}
.shade-input{width: 4.64rem;height: 0.56rem;border: none;border: 1px solid #cccccc;border-radius: 6px;margin-top: 0.24rem;}
.email-qr{margin-top: 0.24rem;width: 90%;margin-left: 5%;word-wrap: break-word;font-weight: 900;}
.shade-con{margin-top: 0.88rem;}
.result-shade .shade-main{width: 50%;top: 40%;}
.result-shade .shade-main,.result-shade .warning{height: auto;background: rgba(0,0,0,0.3);}
.result-shade .shade-text{margin-top: 0;padding: 0.4rem 0;color: #FFFFFF;}
/*å³æ */
.shade-screen{display: none;}

.seller-company{margin: 0.1rem 0;padding: 0.3rem 0;}
.seller-company h3{font-size: 0.4rem;color: #1C2438;line-height: 0.52rem;text-align: center;word-break: break-all}
.seller-company p{font-size: 0.28rem;color: #495060;text-align: center;}

.advertisementLm{
    padding: 0 0.3rem;
    margin: 0 0 1rem 0;
    /* display: none; */
}
.advertisementLmImg{
    width: 100%;
    height: auto;
    max-height: 1.8rem;
    object-fit: cover;
}
/* æäº¤ç»“æžœ */
.taiSuccessFix{
    position: fixed;
    /* position: absolute; */
    left: 0;
    bottom:0;
    z-index: 1000;
    display: block;
}
/* æäº¤æˆåŠŸé¡µé¢çš„å¹¿å‘Šä½é«˜åº¦ */
#previewHtml #BaiduAdImg{
    /* height: auto; */
    height: 230px;
    object-fit: cover;
}
.imgauto{
    position: relative;
    overflow: hidden;
    /* margin: 0 0 20px 0; */
}
#thirdWrap{
    width: 100%;
    height: 2.4rem;
    overflow: hidden;
}
#thirdCon{
    width: 5000px;
    height: 2.4rem;
    overflow: hidden;
}
#thirdCon img{
    width: 100vw;
    height: auto;
    max-height: 2.4rem;
    float: left;
}
#thirdTag{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
}
#thirdTag li{
    float: left;
    width: 0.2rem;
    height: 0.2rem;
    background: rgba(255,255,255,0.30);
    border-radius: 50%;
    margin: 0 0.2rem 0 0;
}
#thirdTag li.one{
    background: #FFFFFF;
}
#previewHtml #thirdWrap,#previewHtml #thirdCon,#previewHtml #thirdCon img{
    height: auto;
    max-height: 313px;
}
#previewHtml #thirdTag li{
    width: 12px;
    height: 12px;
    margin: 0 20px 0 0;
}
/* æµ®å±‚å¹¿å‘Š */
.meng{
    background: rgba(51,51,51,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}
.mengA{
    width: 0;
    height: 0;
}
.mengImg{
    width: 100%;
}
.mengCon{
    position: absolute;
    /* top: 1.21rem; */
    top: 50%;
    left: 0;
    z-index: 2000;
    width: 66%;
    margin: 0 17%;
    transform: translate(0,-51%);
}
.mengClose{
    width: 18%;
    display: block;
    /* margin: -.1rem auto; */
    position: absolute;
    left: 50%;
    bottom:-62px;
    transform: translate(-50%,0);
    z-index: -1;
}
/* #taitLm{
    height:100vh;
    position: relative;
} */
